<div id="contacts" class="contacts">
  <div class="container">
    <h2 class="text-center">Контакты</h2>
    <div class="infos text-center">Если у вас есть вопросы, вы можете написать нам: <a
        href="mailto:info@nspcc.ru">info@nspcc.ru</a></div>

    <div class="row skrollable skrollable-after" data-bottom="opacity:0;" data--100-bottom="opacity:1;"
      style="opacity: 1;">
      <div class="col-sm-4 col-lg-2 offset-lg-2" id="bx_1373509569_12">
        <a href="https://medium.com/@neospcc" class="social-link">
          <div class="icon-social medium"></div>@neospcc
        </a>
      </div>
      <div class="col-sm-4 col-lg-2 " id="bx_1373509569_11">
        <a href="https://twitter.com/neospcc" class="social-link">
          <div class="icon-social twitter"></div>@neospcc
        </a>
      </div>
      <div class="col-sm-4 col-lg-2 " id="bx_1373509569_71">
        <a href="https://github.com/nspcc-dev/demo" class="social-link">
          <div class="icon-social github"></div>GitHub
        </a>
      </div>
      <div class="col-sm-4 col-lg-2 " id="bx_1373509569_69">
        <a href="https://www.youtube.com/channel/UCAC6lR1bJFv0-O07Nol_p8w" class="social-link">
          <div class="icon-social youtube"></div>YouTube
        </a>
      </div>
    </div>
    <div class="infos1 text-center">Следите за нашими последними новостями и обновлениями</div>
  </div>
</div>
<div class="partners">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-4   col-lg-2 col-md-2 text-center" id="bx_3485106786_14" style="padding-left:4%;">
        <a href="https://neo.org">
          <div class="logos neo"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container copy-footer text-center p-5">
  © 2022 Neo SPCC. Все права защищены.
</div>
