<head>
  <meta charset="utf-8" />
  <title>Neo SPCC</title>
  <meta name="description" content="R&D team developing an open-source truly decentralized cloud platform and supporting the Neo core">
  <meta property="og:url" content="https://nspcc.io/">
  <meta property="og:title" content="Neo SPCC">
  <meta property="og:description" content="R&D team developing an open-source truly decentralized cloud platform and supporting the Neo core">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://nspcc.io/images/intro.webp">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1b3040" />
  <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js; connect-src 'self' https://status.fs.neo.org; style-src 'unsafe-inline' 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; img-src 'self'; form-action 'self'; base-uri 'self';">
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin="true" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&amp;subset=cyrillic" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src='/js/main.js'></script>
</head>
