<div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
  data-center-top="opacity:1;" style="opacity: 1;">
  <a href="#person{{ .Get 0 }}" class="view-popup-team" alt="Person{{ .Get 0 }}">
    <div class="photo" style="background-image: url({{ .Get 1 }});">
      <div class="frame"></div>
    </div>
  </a>
  <div class="fio">{{ .Get 2 }}</div>
  <div class="job">{{ .Get 3 }}</div>
</div>
<div style="display: none;">
  <div class="popup-dialog person-popup" id="person{{ .Get 0 }}">
    <div class="row">
      <div class="col-lg-4 d-none d-lg-block">
        <img src="{{ .Get 1 }}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8">
        <div class="name">{{ .Get 2 }}</div>
        <div class="job">{{ .Get 3 }}</div>
        <hr>
        <div class="bio">
          {{ .Inner }}
        </div>
      </div>
    </div>
  </div>
</div>
