<div class="row">
  <div class="col-lg-6 
  {{ if eq (.Get 0) "left" }} item-left {{ else }} offset-lg-6 {{ end }}skrollable skrollable-before"
    data-bottom-top="opacity:0;" data-center-top="opacity:1;" style="opacity: 1;">
    {{ if eq (.Get 0) "left" }}
      <div class="corner"></div>
      <div class="heading">
        <div class="subheading">{{ .Get 1 }}</div>
        <div class="informer">{{ .Get 2 }}</div>
      </div>
      <div class="infos">
        {{ .Inner }}
      </div>
    {{ else }}
      <div class="item-right">
        <div class="corner"></div>
        <div class="heading">
          <div class="subheading">{{ .Get 1 }}</div>
          <div class="informer">{{ .Get 2 }}</div>
        </div>
        <div class="infos">
          {{ .Inner }}
        </div>
      </div>
    {{ end }}
  </div>
</div>
