{{ define "main" }}

<div id="about" class="services">
  <div class="container">
    <h2 class="text-center">Направления нашей деятельности</h2>
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before" data-bottom="opacity:0;margin-left:-100px;"
        data-center-top="opacity:1;margin-left:0px;" style="opacity: 1; margin-left: 0px;">
        <div class="icon icon1 center"></div>
        <div class="rightBorderHeading">
          <h3>Экосистемные проекты NEO</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before"
        style="padding-top: 0px; margin-top: -70px; opacity: 1; margin-left: 0px;"
        data-bottom="margin-top:-70px; opacity:0; margin-left:-100px;"
        data-center-top="margin-top:-70px;opacity:1;margin-left:0px;padding-top:0px;">
        <div class="rightBorderHeading">
          <h3>NeoFS</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before" data-bottom="opacity:0;margin-left:-100px;"
        data-center-top="opacity:1;margin-left:0px;" style="opacity: 1; margin-left: 0px;">
        Мы разрабатываем распределенное, децентрализованное <a href="https://fs.neo.org">объектное хранилище
          NeoFS</a>,&nbsp;интегрируемое с Neo Blockchain и реализующее шифрование на стороне клиента, которое позволяет
        пользователям передавать данные и предоставлять доступ к ним без обращения к третьему лицу-провайдеру
        хранилища<br>
        <br>
        <br>
        <p></p>
        <h4>Основные характеристики:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon2 center"></div>
        <div class="title"><b>Peer-to-peer реализация хранилища</b></div>
      </div>
      <div class="col-md-4 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon3 center"></div>
        <div class="title"><b>Отказоустойчивость</b></div>
      </div>
      <div class="col-md-4 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon4 center"></div>
        <div class="title"><b>Децентрализация</b></div>
      </div>
    </div>
    <div class="row advantage4">
      <div class="col-lg-8 offset-lg-2 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon5 center"></div>
        <div class="title"><b>Встроенная система экономического стимулирования, которая может быть использована в
            различных бизнес-кейсах для открытых и частных распределенных, децентрализованных объектных хранилищ</b>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top:80px;">
      <div class="row">
        <div class="col-12 text-center icon-abs skrollable skrollable-before"
          style="margin-top: -70px; opacity: 1; margin-left: 0px;"
          data-bottom="opacity:0;margin-left:-100px;margin-top:-70px;"
          data-center-top="opacity:1;margin-left:0px;margin-top:-70px;">
          <div class="rightBorderHeading">
            <h3>Neo Lambda</h3>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-2 text-center skrollable skrollable-before" data-bottom="opacity:0;"
          data-center-top="opacity:1;" style="opacity: 1;">
          <div class="title">Мы разрабатываем децентрализованную&nbsp;платформу&nbsp;для распределенных
            вычислений&nbsp;интегрируемую с Neo Blockchain<br></div>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top:80px;">
      <div class="row">
        <div class="col-12 text-center icon-abs skrollable skrollable-before"
          style="margin-top: -70px; opacity: 1; margin-left: 0px;"
          data-bottom="opacity:0;margin-left:-100px;margin-top:-70px;"
          data-center-top="opacity:1;margin-left:0px;margin-top:-70px;">
          <div class="rightBorderHeading">
            <h3>NeoGO</h3>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-2 text-center skrollable skrollable-before" data-bottom="opacity:0;"
          data-center-top="opacity:1;" style="opacity: 1;">
          <div class="title">Мы разрабатываем и поддерживаем <a href="https://github.com/nspcc-dev/neo-go">реализацию
              Neo Node</a> на языке Golang<br>
            <br></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before" data-bottom="opacity:0;margin-left:-100px;"
        data-center-top="opacity:1;margin-left:0px;" style="opacity: 1; margin-left: 0px;">
        <div class="icon icon6 center"></div>
        <div class="rightBorderHeading">
          <h3>Проекты развития сообщества NEO в мире</h3>
        </div>
        <div class="row text-left">
          <div class="col-lg-6 offset-lg-3">
            <ul>
              <li>Митапы и конференции, посвященные технологиям Neo</li>
              <li>Хакатоны</li>
              <li>Совместные исследовательские проекты с университетами и компаниями</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="team" class="persons">
  <div class="container">
    <h2 class="text-center">Команда</h2>
    <div class="row justify-content-center">

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-after" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person38" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/stanislav_bogatyrev.jpg);" id="bx_3218110189_38">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Станислав Богатырев</div>
        <div class="job">Технический Директор</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-between" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person6" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/sergey_lyubich.jpg);" id="bx_3218110189_6">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Сергей Любич</div>
        <div class="job">Генеральный Директор</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person8" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/fabian_waale.jpg);" id="bx_3218110189_8">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Фабиан Ваале</div>
        <div class="job">Советник по Стратегии</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person33" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/alexey_vanin.jpg);" id="bx_3218110189_33">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Алексей Ванин</div>
        <div class="job">Ведущий Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person56" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/roman_himov.jpg);" id="bx_3218110189_56">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Роман Химов</div>
        <div class="job">Ведущий Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person5" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/anatoly_bogatyrev.jpg);" id="bx_3218110189_5">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Анатолий Богатырев</div>
        <div class="job">ИТ-директор</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person39" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/anastasiya_prasolova.jpeg);"
            id="bx_3218110189_39">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Анастасия Прасолова</div>
        <div class="job">Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person48" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/leonard_lubitsch.jpg);" id="bx_3218110189_48">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Леонард Любич</div>
        <div class="job">Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person35" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/evgeny_stratonikov.jpg);" id="bx_3218110189_35">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Евгений Стратоников</div>
        <div class="job">Ведущий Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person76" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/anna_shaleva.jpg);" id="bx_3218110189_76">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Анна Шалева</div>
        <div class="job">Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person81" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/unset.jpg);" id="bx_3218110189_81">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Сергей Немировский</div>
        <div class="job">Системный Администратор</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person82" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/pavel_karpiy.jpeg);" id="bx_3218110189_82">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Павел Карпий</div>
        <div class="job">Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person83" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/elizaveta_chichindaeva.jpg);"
            id="bx_3218110189_83">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Елизавета Чичиндаева</div>
        <div class="job">QA Инженер</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person85" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/angira_kekteeva.jpg);" id="bx_3218110189_85">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Ангира Кектеева</div>
        <div class="job">Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person86" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/denis_kirillov.jpeg);" id="bx_3218110189_86">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Денис Кириллов</div>
        <div class="job">Инженер-Программист</div>
      </div>

      <div class="col-sm-6 col-lg-4 item skrollable skrollable-before" data-bottom-top="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <a href="#person94" class="view-popup-team">
          <div class="photo" style="background-image: url(/images/team/mikhail_petrov.jpg);" id="bx_3218110189_94">
            <div class="frame"></div>
          </div>
        </a>
        <div class="fio">Михаил Петров</div>
        <div class="job">Frontend Разработчик</div>
      </div>
    </div>
  </div>
</div>
<div id="roadmap" class="timer">
  <div class="container">
    <h2 class="text-center">Дорожная карта</h2>
    <div class="liner">
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_96" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q3 2022</h4>
            <div class="informer">Технологические улучшения</div>
          </div>
          <div class="infos">
            <ul>
              <li>
                Локальное хранение данных:
                <ul>
                  <li>Рефакторинг конфигурации</li>
                  <li>Версионирование и оптимизация схемы хранения</li>
                </ul>
              </li>
              <li>Улучшение Tree-service компонента для работы с s3:
                <ul>
                  <li>Синхронизация деревьев между узлами</li>
                  <li>Оптимизация репликации </li>
                  <li>Шардирование</li>
                </ul>
              </li>
              <li>Дополнительные метрики узла хранения <br>(writecache и Tree-service)</li>
              <li>S3 Gateway:
                <ul>
                  <li> Переработать механизм аутентификации\авторизации</li>
                  <li>Схемы контроля доступа совместимые с IAM</li>
                  <li>REST Gateway</li>
                </ul>
              </li>
              <li>CDN:
                <ul>
                  <li>Личный кабинет</li>
                  <li>Привязка доменов</li>
                  <li>Варианты интеграции с внешними системами</li>
                </ul>
              </li>
              <li>Расширенный мониторинг всех сервисов</li>
              <li>NeoGo:
                <ul>
                  <li>Рефакторинг RPC-клиента</li>
                  <li>Обёртки для вызовов контрактов через RPC</li>
                  <li>Загрузка состояний контрактов в альтернативные цепочки</li>
                  <li>Улучшения в работе dBFT</li>
                  <li>Реализация и поддержка изменений протокола Neo</li>
                </ul>
              </li>
              <li>Начало работы в Neo T5 Testnet сети </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_93" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q2 2022</h4>
              <div class="informer">NeoFS для реальной экономики</div>
            </div>
            <div class="infos">
              <ul>
                <li>
                  Динамические правила eACL
                </li>
                <li>
                  Ускорение работы с версиями объектов
                </li>
                <li>
                  Улучшение поддержки S3 ACL
                </li>
                <li>
                  Авторизация из внешнего источника
                </li>
                <li>
                  Фоновая проверка логической целостности данных
                </li>
                <li>
                  Динамический размер Внутреннего Кольца
                </li>
                <li>
                  Легковесные узлы NeoGo
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_92" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q1 2022</h4>
            <div class="informer">Улучшение NeoFS</div>
          </div>
          <div class="infos">
            <ul>
              <li>
                Включение нотариальной системы
              </li>
              <li>
                Поддержка версионирования объектов
              </li>
              <li>
                Запуск NeoFS CDN
              </li>
              <li>
                Релиз neofs-sdk-go v1.0.0 с примерами интеграций
              </li>
              <li>
                Поддержка Notification API
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_90" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q4 2021</h4>
              <div class="informer">Поддержка сообщества NeoFS</div>
            </div>
            <div class="infos">
              <ul>
                <li>
                  Обновление движка хранения
                  <ul>
                    <li>
                      Динамические очереди
                    </li>
                    <li>
                      Улучшенная репликация данных
                    </li>
                    <li>
                      Эвакуация данных
                    </li>
                    <li>
                      Фоновый скраббер данных
                    </li>
                    <li>
                      Работа в документированных режимах деградации
                    </li>
                  </ul>
                </li>
                <li>
                  DNS/NNS в SDK
                </li>
                <li>
                  Релиз документации NeoFS
                </li>
                <li>
                  Совместимость с S3 приложениями
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_89" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q3 2021</h4>
            <div class="informer">NeoFS MainNet</div>
          </div>
          <div class="infos">
            <ul>
              <li>
                Релиз NeoFS MainNet
              </li>
              <li>
                Релиз NeoGo MainNet
              </li>
              <li>
                Оптимизация экономической модели
              </li>
              <li>
                Поддержка трансляции ACL в сервисах
              </li>
              <li>
                Подробная документация, инструменты и документы для пользователей
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_88" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q2 2021</h4>
              <div class="informer">Сервисы NeoFS</div>
            </div>
            <div class="infos">
              <ul>
                <li>
                  Оптимизация механизма хранения
                </li>
                <li>
                  Релиз HTTP gateway
                </li>
                <li>
                  Релиз S3 gateway
                </li>
                <li>
                  Поддержка TLS в узлах хранения
                </li>
                <li>
                  RC-совместимый релиз NeoGo
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_80" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q1 2021</h4>
            <div class="informer">NeoFS в Neo 3.0 Testnet</div>
          </div>
          <div class="infos">
            <ul>
              <li>
                Запуск NeoFS в Neo 3.0 Testnet
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_79" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q4 2020</h4>
              <div class="informer">NeoFS Инфраструктура</div>
            </div>
            <div class="infos">
              <ul>
                <li> Реализация сервисной инфраструктуры для публичного хранилища NeoFS </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_78" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q3 2020</h4>
            <div class="informer">NeoFS 1.0 release</div>
          </div>
          <div class="infos">
            <ul>
              <li>Разработка NeoFS v1.0 и публичный доступ к сети хранения</li>
              <li>NeoFS CDN и HTTP-gate</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_59" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q2 2020</h4>
              <div class="informer">NEO 3.0</div>
            </div>
            <div class="infos">
              <ul>
                <li>Интеграция NeoFS и смарт-контракта Neo Blockchain</li>
                <li>Разработка контрактов NeoFS для Neo Blockchain</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_58" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q1 2020</h4>
            <div class="informer">Завершение разработки основных компонентов </div>
          </div>
          <div class="infos">
            <ul>
              <li>Дизайн и реализация рейтинговой системы</li>
              <li>Реализация исключения и добавления новых узлов внутреннего кольца</li>
              <li>Реализация исключения узлов хранения из карты сети</li>
              <li>Реализация поддержки новых протоколов сети</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_57" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q4 2019</h4>
              <div class="informer">Тестирование и оптимизация</div>
            </div>
            <div class="infos">
              <ul>
                <li>Закрытый альфа-тест NeoFS для сообщества разработчиков Neo</li>
                <li>Открытый альфа-тест NeoFS </li>
                <li>Реализация улучшенной модели группы хранения</li>
                <li>Балансировка модели оплаты</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_4" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q3 2019</h4>
            <div class="informer">Альфа-релиз</div>
          </div>
          <div class="infos">
            <ul>
              <li>Внедрение модели экономического стимулирования</li>
              <li>
                Запуск Proof-of-Concept</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_3" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q2 2019</h4>
              <div class="informer">Разработка функций</div>
            </div>
            <div class="infos">
              <ul>
                <li>Реализация репликации данных</li>
                <li>Презентация проекта</li>
                <li>Реализация смарт контракта и методов оплаты за хранение данных</li>
                <li>Дизайн API</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 item-left skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_2" style="opacity: 1;">
          <div class="corner"></div>
          <div class="heading">
            <h4>Q1 2019</h4>
            <div class="informer">Разработка платформы</div>
          </div>
          <div class="infos">
            <ul>
              <li>
                Реализация методов работы с хранилищем BLOB-объектов </li>
              <li>
                Реализация хранилища метаданных</li>
              <li>
                Реализация методов аудита и проверки достоверности данных</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-6 skrollable skrollable-before" data-bottom-top="opacity:0;"
          data-center-top="opacity:1;" id="bx_651765591_1" style="opacity: 1;">
          <div class="item-right">
            <div class="corner"></div>
            <div class="heading">
              <h4>Q4 2018</h4>
              <div class="informer">Начало</div>
            </div>
            <div class="infos">
              <ul>
                <li>Организация процесса разработки </li>
                <li>Дизайн базовой архитектуры проекта и эксперименты</li>
                <li>Публикация плана исследования</li>
                <li>Реализация сетевых протоколов (обмен и маршрутизация)</li>
                <li>Реализация алгоритма размещения и получения объектов в сети</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="padding-bottom:38px"></div>

{{ end }}
