{{ define "main" }}
<div id="about" class="services">
  <div class="container">
    <h2 class="text-center">{{ i18n "services_title" }}</h2>
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before" data-bottom="opacity:0;margin-left:-100px;"
        data-center-top="opacity:1;margin-left:0px;" style="opacity: 1; margin-left: 0px;">
        <div class="icon icon1 center"></div>
        <div class="rightBorderHeading">
          <h3>{{ i18n "services_logo1" }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before"
        style="padding-top: 0px; margin-top: -70px; opacity: 1; margin-left: 0px;"
        data-bottom="margin-top:-70px; opacity:0; margin-left:-100px;"
        data-center-top="margin-top:-70px;opacity:1;margin-left:0px;padding-top:0px;">
        <div class="rightBorderHeading">
          <h3>{{ i18n "services_logo2" }}</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before" data-bottom="opacity:0;margin-left:-100px;"
        data-center-top="opacity:1;margin-left:0px;" style="opacity: 1; margin-left: 0px;">
        {{ i18n "services_text1" | markdownify }}
        <br>
        <br>
        <br>
        <p></p>
        <h4>{{ i18n "services_text2" }}</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon2 center"></div>
        <div class="title"><b>{{ i18n "services_text3" }}</b></div>
      </div>
      <div class="col-md-4 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon3 center"></div>
        <div class="title"><b>{{ i18n "services_text4" }}</b></div>
      </div>
      <div class="col-md-4 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon4 center"></div>
        <div class="title"><b>{{ i18n "services_text5" }}</b></div>
      </div>
    </div>
    <div class="row advantage4">
      <div class="col-lg-8 offset-lg-2 text-center skrollable skrollable-before" data-bottom="opacity:0;"
        data-center-top="opacity:1;" style="opacity: 1;">
        <div class="icon icon5 center"></div>
        <div class="title"><b>{{ i18n "services_text6" }}</b>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top:80px;">
      <div class="row">
        <div class="col-12 text-center icon-abs skrollable skrollable-before"
          style="margin-top: -70px; opacity: 1; margin-left: 0px;"
          data-bottom="opacity:0;margin-left:-100px;margin-top:-70px;"
          data-center-top="opacity:1;margin-left:0px;margin-top:-70px;">
          <div class="rightBorderHeading">
            <h3>{{ i18n "services_logo3" }}</h3>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-2 text-center skrollable skrollable-before" data-bottom="opacity:0;"
          data-center-top="opacity:1;" style="opacity: 1;">
          <div class="title">{{ i18n "services_text7" }}<br></div>
        </div>
      </div>
    </div>
    <div class="container" style="padding-top:80px;">
      <div class="row">
        <div class="col-12 text-center icon-abs skrollable skrollable-before"
          style="margin-top: -70px; opacity: 1; margin-left: 0px;"
          data-bottom="opacity:0;margin-left:-100px;margin-top:-70px;"
          data-center-top="opacity:1;margin-left:0px;margin-top:-70px;">
          <div class="rightBorderHeading">
            <h3>{{ i18n "services_logo4" }}</h3>
          </div>
        </div>
        <div class="col-lg-8 offset-lg-2 text-center skrollable skrollable-before" data-bottom="opacity:0;"
          data-center-top="opacity:1;" style="opacity: 1;">
          <div class="title">
            {{ i18n "services_text8" | markdownify }}
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center icon-abs skrollable skrollable-before" data-bottom="opacity:0;margin-left:-100px;"
        data-center-top="opacity:1;margin-left:0px;" style="opacity: 1; margin-left: 0px;">
        <div class="icon icon6 center"></div>
        <div class="rightBorderHeading">
          <h3>{{ i18n "services_logo5" }}</h3>
        </div>
        <div class="row text-left">
          <div class="col-lg-6 offset-lg-3">
            <ul>
              <li>{{ i18n "services_text9a" }}</li>
              <li>{{ i18n "services_text9b" }}</li>
              <li>{{ i18n "services_text9c" }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ .Content }}
<div style="padding-bottom:38px"></div>

{{ end }}
